# Development dependencies
# Install qualitybase and providerkit in editable mode for local development
-e .
-e ../python-qualitybase
-e ../python-providerkit
-e ../django-virtualqueryset
-e ../django-boosted

# Include production dependencies
Django>=3.2
django-stubs>=5.0.0
python-dotenv>=1.0
pytest>=8.3
pytest-django>=4.5
django-extensions>=3.2